* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    overflow: hidden;
}

ul,li {
    list-style: none;
}

.godown {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    color: #fff;
    background: #000;
    opacity: 0.3;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.godown:hover {
    opacity: 0.5;
}

.pagenav {
    width: 40px;
    height: 200px;
    position: fixed;
    z-index: 1000;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.pagenav li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(132, 132, 173);
    margin: 20px auto;
    cursor: pointer;
}

.current {
    box-shadow: 0 0 0 4px rgba(134, 134, 201, 0.555);
}

.page {
    width: 100%;
    position: absolute;
    top: 0;
}

.page-1 {
    background: #114b5f;
}

.page-2 {
    background: #028090;
}

.page-3 {
    background: #e4fde1;
}

.page-4 {
    background: #456990;
}